/* Chess Navbar CSS */

*{
    margin: 0;
    padding: 0;
    color: #36454F;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ede5d3;
}

nav{
    background-color: #ede5d3;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: #36454F;
    font-size: 28px;
    font-weight: 600;
    line-height: 60px;
    padding-left: 60px;
}

.navimg {
    width: 60px;
    padding-top: 16px;
    padding-right: 16px;
    border-radius: 4px;
  }

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li{
    display: inline-block;
    background: #ede5d3;
    margin: 0 5px;
}

nav ul li a{
    color: #36454F;
    text-decoration: none;
    line-height: 60px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover{
    color: #273890;
    border-radius: 4px;
    box-shadow: 0 0 5px #273890,
                0 0 5px #1F2D73;
}

nav ul ul li a:hover{
    color: #273890;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: 80px;
    border-top: 3px solid #E33927;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul{
    top: 60px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 250px;
    float: none;
    display: list-item;
    border-bottom: 1px solid #E33927;
}

nav ul ul li a{
    line-height: 40px;
}

nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #004474;
  border-radius: 8px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #660000;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 16px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}