.row {
    width: 100%;
    width: auto;
    margin: auto;
  }
  
  .row img {
    height: 100px;
    width: auto;
    margin: auto;
  }
  
  .col-sm-4 {
    height: 100px;
    margin: auto;
  }
  
  .col-sm-4:nth-child(1) {
    background: #f8e7bb;
  }
  
  .col-sm-4:nth-child(2) {
    background: #f8e7bb;
  }
  
  .col-sm-4:nth-child(3) {
    background: #f8e7bb;
  }
  
  .col-sm-4:nth-child(4) {
    background: #f8e7bb;
  }
  
  .col-sm-4:nth-child(5) {
    background: #f8e7bb;
  }
  
  .col-sm-4:nth-child(6) {
    background: #f8e7bb;
  }
  
  @media only screen and (max-width: 767px) {
    .col-sm-4 {
      float: left;
      width: 33.3%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .col-lg-2 {
      float: left;
      width: 16.6%;
    }
  }